<div class="container-fluid text-center">
    <div class="row">
        <div class="col-6 d-flex justify-content-center align-items-center">
            <img src="../../../assets/image_vector.png" alt="">
        </div>
        <div class="login-sector col-6 d-flex justify-content-center align-items-center flex-column">
            <div class="input-field d-flex flex-column align-items-start gap-3 col-4">
                <h3 class="text-secondary mb-3">User Login</h3>
                <input type="email" name="email" id="email" placeholder="Email" class="w-100">
                <input type="password" name="password" id="password" placeholder="Password" class="w-100">
                <a href="" class="w-100 m-0 text-end">Forgot password</a>
                <input type="button" value="Login" (click)="login()" class="w-100" id="button">
                <p class="w-100 text-center">Don't have an account? <a href="">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>